.my-love {
  width: 400px;
  font-size: 120px;
  color: #fff;
  font-family: "PoetsenOne";
  position: absolute;
  bottom: -270px;
}
.banner {
  margin-top: 40px !important;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.banner__title {
  font-family: "PoetsenOne";
  font-size: 15vw;
  margin-left: 20px;
  position: relative;
}
.banner__title > p {
  font-size: 100%;
}
.heart-icon-1 {
  position: absolute;
  font-size: 25px;
  bottom: 14px;
  transform: rotate(130deg);
  margin-left: 40vw;
}
.heart-icon-2 {
  top: -20px;
  left: 0px;
  transform: rotate(-27deg);
  position: absolute;
  font-size: 40px;
}
.banner-btn {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.btn {
  font-family: "Libre Bodoni", serif;
}
.btn-get-now {
  background-color: #9a3d66 !important;
  font-family: "Libre Bodoni", serif;
}

.rule-title {
  font-family: "PoetsenOne";
  font-size: 30px;
}

.avatar-img,
.avatar {
  aspect-ratio: 1;
  object-fit: cover;
}
.circle-indexing {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  width: 40px !important;
  height: 40px !important;
}
.indexing {
  border-radius: 50%;
  display: flex;
  margin: auto;
  color: #dab7b1;
  width: 80%;
  height: 80%;
  background-color: white;
}
.indexing > p {
  margin: auto;
}
.text-rule {
}
@media screen and (min-width: 391px) and (max-width: 700px) {
  .btn {
    font-size: 10px !important;
  }
  .btn-get-now {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 390px) {
  .btn {
    font-size: 7px !important;
  }
  .btn-get-now {
    font-size: 7px !important;
  }
}
@media screen and (max-width: 700px) {
  .heart-icon-2 {
    transform: rotate(-27deg);
    position: absolute;
    font-size: 30px;
  }
  .heart-icon-1 {
    position: absolute;
    font-size: 17px;
    transform: rotate(130deg);
  }
  .rule-title {
    font-family: "PoetsenOne";
    font-size: 20px;
  }
}
