.cloud-header {
  width: 100%;
}
.gifts-body {
  width: 100%;
  background-color: white;
}
.title-list-gifts {
  margin: auto;
  font-family: "PoetsenOne";
  font-size: 40px;
  color: #5f4b74;
  margin-bottom: 30px;
}
