@import "~mdb-ui-kit/css/mdb.min.css";
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;1,400&display=swap");
// @import "mdb-react-ui-kit/dist/css/mdb.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
  font-family: "PoetsenOne";
  src: url("../../../public/assset/font/PoetsenOne.ttf") format("truetype");
}
:root {
  --primary: #dab7b1;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  color: white;
  overflow-x: hidden;
}
body {
  font-family: "Libre Bodoni", serif;
  font-size: 17px;
  text-rendering: optimizeSpeed;
  background-color: var(--primary);
  color: white;
}
